@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br />
    <img src="~/img/joelhiltonheadshot.jpg" alt="Joel Hilton" class="img-fluid" style="max-height: 250px;" />
    <br />
    <br />
    <p>Welcome to the Joel Hilton Film Collection. Here you can explore a carefully curated selection of films reviewed and adored by Joel Hilton.</p>
    <p>Get to know the critic behind the collection <a asp-controller="Home" asp-action="About">here</a> or add to the collection <a asp-controller="Home" asp-action="Movies">here</a>.</p>
</div>
